{%extends 'index.html'%}

{%block content%}
<h1 class="display-3 mx-3">Bone Fracture Detection <h2 class="mx-3">(Accuracy : 94%)</h1>
<div class="bg-image hover-overlay ripple my-3 mx-3" id="bone_section"
  style="display:flex;align-items:center;justify-content:center;">


  <img src="static\bone1.jpg" class="img w-50 " id="bone" style="border-radius:50px;" />
  <blockquote class="blockquote text-left my-3 mx-3">
    <center>
      <footer style="color: red;">Bone Fracture 🦴</footer>
    </center>
    <p>Minor bone fractures can be difficult to detect, and may go unnoticed or be misdiagnosed as a sprain or strain. <br>
      This is because the symptoms of minor fractures can be similar to those of soft tissue injuries, such as pain,
      swelling, and limited mobility. <br>
    However, if left untreated, minor fractures can lead to more serious complications, such as chronic pain or
      disability.
    <p>

    </p>
    <br>

    </p>
    <footer class="blockquote-footer">Team Hacking Paradox </footer>
  </blockquote>

</div>

<hr>
<center>
  <form action="{{url_for('getbone')}}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <legend class="mx-3 display-4">Let's Predict About You</legend>
      <input type="file" class="form-control-file mx-3" id="exampleFormControlFile1" name="bone" required>
    </div>
    <center><button type="submit" class="btn btn-outline-dark">Predict</button></center>

  </form>

  <br>
  <hr>

</center>
{%endblock%}


{%block content2%}

{% if status == true %}

<a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown"
  data-sidebar="true" aria-expanded="false">
  <img class="mr-2" src="/static/profile.png" style="width:40px; height:40px;" alt="avatar">
  {{ username }}
</a>
<ul class="dropdown-menu dropdown-menu-right" role="menu">
  <a class="dropdown-item" href="/logout">Logout</a>
</ul>
{% else %}
<a class="nav-link text-muted mx-3 slide" href="/login">
  Login
</a>
{% endif %}

{%endblock%}