{%extends 'index.html'%}

{%block content%}

<h1 class="display-3 mx-3">Brain Tumor Detection <h2 class="mx-3">(Accuracy : 92%)</h2></h1>

<div class="bg-image hover-overlay ripple my-3 mx-3"  id="tumor_section" style="display:flex;align-items:center;justify-content:center;">

  <img src="static\MRI.jpg" class="img w-50 " id="tumor" style="border-radius:50px;" />
  <blockquote class="blockquote text-left my-3 mx-3">
    <center>
      <footer style="color: red;">Brain Tumor 🧠</footer>
    </center>
    <p>Symptoms of a brain tumor can vary depending on the location and size of the tumor, but may include headaches,
      seizures, vision or hearing changes, balance problems, and changes in mood or behavior.
    </p>
    <p>
      Diagnosis of a brain tumor typically involves imaging tests such as an MRI or CT scan, and a biopsy may be needed
      to determine the type of tumor.
    </p>
    <p>
      Treatment for a brain tumor depends on the type, location, and size of the tumor. Options may include surgery,
      radiation therapy, chemotherapy, or a combination of these treatments.
    </p>
    <footer class="blockquote-footer">Team Hacking Paradox </footer>
  </blockquote>
  </ul>

</div>

<hr>
<center>
  <form action="{{url_for('getmri')}}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <legend class="mx-3 display-4">Let's Predict About You</legend>
      <input type="file" class="form-control-file mx-3" id="exampleFormControlFile1" name="mri" required>
    </div>
    <center><button type="submit" class="btn btn-outline-dark">Predict</button></center>
  </form>
  <br>
</center>
{%endblock%}

{%block content2%}

{% if status == true %}

<a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown"
  data-sidebar="true" aria-expanded="false">
  <img class="mr-2" src="/static/profile.png" style="width:40px; height:40px;" alt="avatar">
  {{ username }}
</a>
<ul class="dropdown-menu dropdown-menu-right" role="menu">
  <a class="dropdown-item" href="/logout">Logout</a>
</ul>
{% else %}
<a class="nav-link text-muted mx-3 slide" href="/login">
  Login
</a> 
  {% endif %}

{%endblock%}
