{%extends "index.html" %}
{%block content%}
<!-- [age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal] -->
<h1 class="display-3 mx-3">Heart Disease Detection  <h2>(Accuracy : 94%)</h1>
<div class="container my-3">
  <legend>Predict Your Heart Condition Right Now</legend>
  <form style="border:2px solid rgb(177, 194, 186);padding:22px;border-radius:25px" method="post" action="{{url_for('getValue')}}">
    <div class="form">
      <p>Please Enter the Following Details</p>
      <hr>
      <label for="mail">Mail-Id : </label>
      <input type="mail" id="mail" class="form-control" name="mail">

      <label for="age">Age : </label>
      <input type="number" id="age" class="form-control" name="age">

      <div class="input-group mb-3 my-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02">Sex : </label>
        </div>

        <select class="custom-select" id="inputGroupSelect02" name="sex">
          <option selected value="1">Male</option>
          <option value="0">Female</option>
        </select>
      </div>

      <div class="input-group mb-3 my-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02">Chest-Pain Type : </label>
        </div>

        <select class="custom-select" id="inputGroupSelect02" name="chaistpain">
          <option selected value="0">Typical Angina</option>
          <option value="1">Atypical Angina</option>
          <option value="2">Non-Anginal pain</option>
          <option value="3">Asymptomatic</option>
        </select>
      </div>

      <label for="bp">Resting Blood Pressure (in mm Hg)</label>
      <input type="number" id="bp" class="form-control" name="bloodpressure">

      <label for="sc">Serum Cholestrol</label>
      <input type="number" id="sc" class="form-control" name="serum">

      <div class="input-group mb-3 my-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02">Fasting Blood Sugar : </label>
        </div>
        <select class="custom-select" id="inputGroupSelect02" placeholder="Chest-Pain Type" name="bloodsugar">
          <option selected value="0" >Fasting blood sugar < 120</option>
          <option value="1" >Fasting blood sugar > 120</option>

        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02">Resting Electro-cardiographic Result : </label>
        </div>


        <select class="custom-select" id="inputGroupSelect02"  name="wave">
          <option selected value="0">Normal</option>
          <option value="1">Having ST-T wave abnormality</option>
          <option value="2">Showing probable or definite left
            ventricular hypertrophy</option>

          </select>
        </div>
            <label for="hrate">Maximum Heart Rate Achieved</label>
          <input type="number" id="hrate" class="form-control" name="hrate" itemid="hrate">



      <div class="input-group mb-3 my-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02"> Exercise Induced Anigna: </label>
        </div>

        <select class="custom-select" id="inputGroupSelect01" name="anigna">
          <option selected value="1">Yes </option>
          <option value="0">No </option>
        </select>
      </div>

      <label for="oldpeak"> ST depression induced by exercise relative to rest (oldpeak) : </label>
      <input type="number" step="0.01" id="oldpeak" class="form-control" name="oldpeak" itemid="oldpeak">

      <div class="input-group mb-3 my-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02">The slope of the peak exercise ST segment</label>
        </div>

        <select class="custom-select" id="inputGroupSelect01" name="slope">
          <option selected value="0">0</option>
          <option value="1">1 </option>
          <option value="2">2 </option>
        </select>
      </div>

      <div class="input-group mb-3 my-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02"> CA (Number of major vessels (0-3) colored by flourosopy): </label>
        </div>

        <select class="custom-select" id="inputGroupSelect01" name="ca">
          <option selected value="0">0 </option>
          <option value="1">1 </option>
          <option value="2">2 </option>
          <option value="2">3 </option>
        </select>
      </div>

      <div class="input-group mb-3 my-3">
        <div class="input-group-append">
          <label class="input-group-text" for="inputGroupSelect02"> Thalmessia (Thal) </label>
        </div>

        <select class="custom-select" id="inputGroupSelect01" name="thal">
          <option selected value="1"> Normal </option>
          <option value="2">Fixed Defect </option>
          <option value="3"> Reversable Defect </option>
        </select>
      </div>
    </div>
    <center> <button type="submit" class="btn btn-outline-dark" name="submit">Predict</button> </center>
  </form>
  <br><hr>
  <label class="input-group-text bg-dark text-white"for="answer">  Prediction Ans :  </label>
  <span class="custom-select">{{ ans }}</span>
</div>

{%endblock%}



<!--
oldpeak
slope
ca
thal
condition


-->

<!--

oldpeak = ST depression induced by exercise relative to rest
the slope of the peak exercise ST segment
number of major vessels (0-3) colored by flourosopy
thal: 0 = normal; 1 = fixed defect; 2 = reversable defect

-->