{%extends "index.html"%}
{%block content%}
<div class="view opacity-50"
  style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.webp'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
</div>
<h1 class="display-4 mx-3" style="padding: 10px;"> Hacking Paradox</h1>
<div style="height: 600px;background-image: url('/static/homepage.jpg');">
  <blockquote class="blockquote text-left my-3 mx-3">
    <p class="mb-0">Heart disease let’s defeat, Keep a healthy Heart Beat
    </p>
    <p class="mb-0">
      Commit to be fit</p>
    <p class="mb-0">
      Fight the fight, find the Cure</p>
    <p class="mb-0">
      Diet cures more than doctors</p>
    <footer class="blockquote-footer">Team Hacking Paradox </footer>
  </blockquote>
  
</div>
<legend id="modules" class="my-3 mx-3" style="padding: 10px;">Modules</legend>
<div class="card mx-3 my-3" style="padding: 10px;">
  <h5 class="card-header">Covid-19 😷</h5>
  <div class="card-body" style="padding: 10px;">
    <h5 class="card-title">Covid-19 Detection using Chest X-Ray</h5>
    <p class="card-text">This is the Section that helps you to predict possibility of having Covid-19 Virus with the
      help of pretrained Model</p>
    <a href="/Covid_19" class="btn btn-dark ">Check out</a>
  </div>
</div>

<div class="card mx-3 my-3" style="padding: 10px;">
  <h5 class="card-header">Diabetes</h5>
  <div class="card-body">
    <h5 class="card-title">Diabetes detection using Machine Learning</h5>
    <p class="card-text">This is the Section that helps you to predict possibility of having Diabetes using Pretrained
      models using Machine Learning</p>
    <a href="/Diabetes" class="btn btn-dark ">Check out</a>
  </div>
</div>

<div class="card mx-3 my-3">
  <h5 class="card-header">Heart 🫀</h5>
  <div class="card-body">
    <h5 class="card-title">Heart Disease Prediction using Machine Learning </h5>
    <p class="card-text">This is the section Whereyou can predict your condition of heart, whether it's serious or you
      don't have to worry about it.</p>
    <a href="/Heart_Disease_Prediction" class="btn btn-dark">Check out</a>
  </div>
</div>

<div class="card mx-3 my-3">
  <h5 class="card-header">Brain Tumor 🧠</h5>
  <div class="card-body">
    <h5 class="card-title">Brain Tumor Detection using Brain MRI</h5>
    <p class="card-text"> Sometimes it's hard for even Doctors also to Spot a Brain Tumor using just MRI of your
      Brain. So this section will help them to have more precise decision. </p>
    <a href="/Brain_Tumor_Detection" class="btn btn-dark">Check out</a>
  </div>
</div>

<div class="card mx-3 my-3">
  <h5 class="card-header">Skin Cancer or Skin Disease </h5>
  <div class="card-body">
    <h5 class="card-title">Skin Disease Prediction using image of Skin</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="/Skin_Cancer" class="btn btn-dark">Check out</a>
  </div>
</div>

<div class="card mx-3 my-3">
  <h5 class="card-header">Bone Fracture 🦴🩻</h5>
  <div class="card-body">
    <h5 class="card-title">Bone Fracture Detection using Bone X-Ray</h5>
    <p class="card-text">Sometimes Doctors fail to spot a minute Fracture whereas this model will help to detect any
      fractures in the Patient's X-Ray. </p>
    <a href="/Bone_Fracture_Detection" class="btn btn-dark">Check out</a>
  </div>
</div>
<blockquote class="blockquote text-center my-3">
  <p class="mb-0">We will make Human Beings have a Better Life! </p>
  <footer class="blockquote-footer">Team Hacking Paradox </footer>
</blockquote>
{%endblock%}
{%block content1%}
<li class="nav-item">
  <a class="nav-link text-muted" href="#footer">About</a>
</li>
{%endblock%}

{%block content2%}
{% if status == true %}
<a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown"
  data-sidebar="true" aria-expanded="false">
  <img class="mr-2" src="/static/profile.png" style="width:40px; height:40px;"
    alt="avatar">
  {{ username }}
{% else %}
<a class="nav-link text-muted mx-3" href="/login">
  Login
  {% endif %}</a>
</li>

{%endblock%}